@import "_reset";
@import "_colors";
@import "_typography";
@import "_grid";

$border-radius: 8px;

body {
  background: $off-white;
}

html {
  box-sizing: border-box;
}

.header {
  align-items: center;
  display: flex;
}

.image {
  border-radius: $border-radius;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  position: fixed;
  text-align: right;
  z-index: 3;
  a {
    margin-bottom: 36px;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Media Queries
@media screen and (max-width: 768px) {
  .navigation {
    z-index: 100;
    &.col-2 {
      flex-direction: row;
      padding: 0;
      width: 100%;
    }
    height: auto;
    justify-content: flex-start;
    overflow: scroll;
    position: fixed;
    text-align: left;
    z-index: 100;
    &::-webkit-scrollbar {
      width: 0px; /* remove scrollbar space */
      background: transparent; /* optional: just make scrollbar invisible */
    }
    a {
      background: $white;
      color: $pink;

      margin-bottom: 0;
      padding: 16px 24px;
      &.active {
        background: $pink;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
