$off-white: #f7f8fa;
$white: #fff;
$off-black: #21242c;
//$pink: #ff5783;
//$light-pink: #ffebf2;
$pink: #ff5783;
$light-pink: #ffebf2;
$gray: rgba(33, 36, 44, 0.64);
$dark-gray: rgba(33, 36, 44, 0.84);
$yellow: #fff134;
