@import "../styles/_base";

.projects-wrapper-about {
  margin-top: 150px;
  align-items: center;
  padding: 50px;
  margin-left: 80px;
}

.left-margin-120 {
  margin-left: 120px;
}

.header {
  margin-bottom: $medium-spacer;
}

.bio-text h1 {
  color: $off-black;
  padding: 16px;
  text-align: center;
}

.about-group {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.social-media-link {
  color: $pink;
  text-align: right;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.about-module {
  @extend .nested;
  @extend .col-6 !optional;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-top: large-spacer;
  h2 {
    span.about-module-text {
      text-decoration: underline;
      text-decoration-color: $pink;
    }
  }
  p {
    color: $gray;
    &.about-description a {
      color: $pink;
      display: inline;
      font-family: "PT Sans", Helvetica, Arial, sans-serif;
      font-size: 18px;
      line-height: 1.3;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Mobile screens
@media screen and (max-width: 768px) {
  .navigation {
    margin-left: 30px;
  }
  .projects-wrapper-about {
    padding: 16px;
  }
  .about-group.col-8.nested {
    display: flex;
    flex-direction: column-reverse;
  }
  .social-media.col-1 {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  .bio-text {
    margin-top: small-spacer;
  }
  .left-margin-120 {
    margin-left: 80px;
  }
  .projects-wrapper-about {
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
}
